.hexGrid {
  box-sizing: border-box;
  margin: auto;
  padding-top: 58.0237px;
  overflow: auto; }
  .hexGrid .hex {
    width: 201px;
    height: 116.0474px;
    margin-bottom: 73.34421px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background-size: auto 232.09481px;
    background-position: center center;
    float: left; }
    .hexGrid .hex .hexagon-before {
      position: absolute;
      background: inherit;
      overflow: hidden;
      width: inherit;
      height: inherit;
      transform: rotate(60deg); }
      .hexGrid .hex .hexagon-before:before {
        display: block;
        content: "";
        background: inherit;
        width: 201px;
        height: 232.09481px; }
    .hexGrid .hex .hexagon-after {
      position: absolute;
      background: inherit;
      overflow: hidden;
      width: inherit;
      height: inherit;
      transform: rotate(120deg); }
      .hexGrid .hex .hexagon-after:before {
        display: block;
        content: "";
        background: inherit;
        width: 201px;
        height: 232.09481px; }
    .hexGrid .hex .hexagon-before:before {
      transform: rotate(-60deg) translate(50.25px, -29.01185px); }
    .hexGrid .hex .hexagon-after:before {
      transform: rotate(-120deg) translate(50.25px, 29.01185px); }
  .hexGrid .newShortRow {
    margin-left: 120.5px; }
  .hexGrid .newLongRow {
    clear: left; }

* {
  margin: 0; }

body {
  font-family: 'Open Sans'; }

h1, h2 {
  font-family: 'Ubuntu';
  font-weight: 400; }

nav {
  transition: transform 1s;
  transform: translateY(-92.66472px); }

.leftNav {
  background-color: #323232;
  color: white;
  height: 61.77648px;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0; }
  .leftNav a {
    display: inline-block;
    color: inherit;
    padding: 20.59216px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em; }
  .leftNav .active {
    color: #2eb398; }

.rightNav {
  background-color: #323232;
  color: white;
  height: 61.77648px;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  text-align: right; }
  .rightNav a {
    display: inline-block;
    color: inherit;
    padding: 20.59216px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em; }
  .rightNav .active {
    color: #2eb398; }

.arrow {
  width: 107px;
  height: 61.77648px;
  margin-bottom: 28.88824px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  background-size: auto 123.55296px;
  background-position: center center;
  background-color: #323232;
  background-image: url("../images/arrow.png");
  background-size: 64px 55px;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto; }
  .arrow .hexagon-before {
    position: absolute;
    background: inherit;
    overflow: hidden;
    width: inherit;
    height: inherit;
    transform: rotate(60deg); }
    .arrow .hexagon-before:before {
      display: block;
      content: "";
      background: inherit;
      width: 107px;
      height: 123.55296px; }
  .arrow .hexagon-after {
    position: absolute;
    background: inherit;
    overflow: hidden;
    width: inherit;
    height: inherit;
    transform: rotate(120deg); }
    .arrow .hexagon-after:before {
      display: block;
      content: "";
      background: inherit;
      width: 107px;
      height: 123.55296px; }
  .arrow .hexagon-before:before {
    transform: rotate(-60deg) translate(26.75px, -15.44412px); }
  .arrow .hexagon-after:before {
    transform: rotate(-120deg) translate(26.75px, 15.44412px); }

.gridContainer {
  padding-top: 123.55296px; }

.hexGrid {
  padding-bottom: 40px; }

.aboutContainer {
  background-color: #2eb398;
  color: #d7fcf5;
  padding: 40px 0;
  text-align: justify; }
  .aboutContainer h2 {
    color: #20816d;
    font-size: 1.3em;
    line-height: 1em;
    padding-bottom: 20px; }

.about {
  margin: auto;
  overflow: auto;
  box-sizing: content-box;
  padding: 0 20px;
  border-left: solid 1px #219d84;
  border-right: solid 1px #219d84; }

.photo {
  width: 201px;
  height: 116.0474px;
  margin-bottom: 90.66472px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-size: auto 232.09481px;
  background-position: center center;
  float: left;
  background-image: url("../images/photo.png");
  background-position: center center;
  background-size: cover;
  margin-top: 58.0237px;
  margin-bottom: 58.0237px;
  margin-left: 0; }
  .photo .hexagon-before {
    position: absolute;
    background: inherit;
    overflow: hidden;
    width: inherit;
    height: inherit;
    transform: rotate(60deg); }
    .photo .hexagon-before:before {
      display: block;
      content: "";
      background: inherit;
      width: 201px;
      height: 232.09481px; }
  .photo .hexagon-after {
    position: absolute;
    background: inherit;
    overflow: hidden;
    width: inherit;
    height: inherit;
    transform: rotate(120deg); }
    .photo .hexagon-after:before {
      display: block;
      content: "";
      background: inherit;
      width: 201px;
      height: 232.09481px; }
  .photo .hexagon-before:before {
    transform: rotate(-60deg) translate(50.25px, -29.01185px); }
  .photo .hexagon-after:before {
    transform: rotate(-120deg) translate(50.25px, 29.01185px); }

/*# sourceMappingURL=main.css.map */
