@import 'variables';
@import 'hex';

$photoWidth: 199px;

.about {
    margin: auto;
    overflow: auto;
    box-sizing: content-box;
    padding: 0 ($sectionPadding / 2);
    border-left: solid 1px $brandBorderColor;
    border-right: solid 1px $brandBorderColor;

    @media (max-width: 900px) {
        width: 80% !important;
    }

    @media (max-width: 540px) {
        h1, h2 {
            text-align: center;
        }
    }

}

.photo {
    @include hexagon($photoWidth, 20px);
    float: left;
    background-image: url("../images/photo.png");
    background-position: center center;
    background-size: auto ($photoWidth * 2 / $sqrt3);
    margin-top: ($photoWidth / $sqrt3) / 2;
    margin-bottom: ($photoWidth / $sqrt3) / 2;
    margin-left: 0;

    @media (max-width: 540px) {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
