@import 'variables';

$formMargin: 15px;
$iconMargin: 10px;

.contactContainer {
    padding: 0 !important;
}

.contact {
    overflow: auto;
    padding: $sectionPadding / 2;
    margin: ($sectionPadding / 2) auto;
    border-top: solid 1px $contactBorderColor;
    border-bottom: solid 1px $contactBorderColor;

    @media (max-width: 900px) {
        width: 80% !important;
    }

    @media (max-width: 540px) {
        h1, h2 {
            text-align: center;
        }
    }
}

form {
    width: 70%;
    float: left;
    overflow: auto;

    @media (max-width: 830px) {
        width: 100%;
        margin-bottom: $formMargin;
        border-bottom: solid 1px $contactBorderColor;
    }

    input, textarea {
        width: 100%;
        background-color: $contactBackgroundLight;
        color: inherit;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: $formMargin;
        border-style: none;
        font: 1em 'Open Sans';
    }

    input[type="submit"] {
        width: auto;
        float: right;
        text-transform: uppercase;
        background-color: $brandColor;
        padding: 15px 30px;
        font: 500 1em 'Ubuntu';
        color: #ffffff;
    }
}

.contactInfo {
    width: 30%;
    float: left;
    font-size: 0.8em;
    padding-left: $formMargin;
    box-sizing: border-box;

    @media (max-width: 830px) {
        width: 100%;
        padding-left: 0;
    }

    p {
        margin-bottom: 3 * $formMargin;

        @media (max-width: 830px) {
            float: left;
            width: 50%;
            margin-bottom: 0;
        }

        @media (max-width: 500px) {
            width: 100%;
            margin-bottom: 2 * $formMargin;
        }
    }
}

address {
    font-style: normal;
    font-weight: 600;

    div {
        margin-bottom: 3px;
    }

    img {
        position: relative;
        top: 5px;
        float: left;

        @media (min-width: 500px) and (max-width: 830px) {
            float: right;
        }
    }

    @media (min-width: 500px) and (max-width: 830px) {
        text-align: right;
        float: left;
        width: 50%;
    }
}

#location {
    margin-left: 3px;
    margin-right: (3px + $iconMargin);
    top: 4px;

    @media (min-width: 500px) and (max-width: 830px) {
        margin-left: (3px + $iconMargin);
        margin-right: 3px;
    }
}

#phone {
    margin-left: 1px;
    margin-right: (1px + $iconMargin);

    @media (min-width: 500px) and (max-width: 830px) {
        margin-left: (1px + $iconMargin);
        margin-right: 1px;
    }
}

#mail {
    margin-right: $iconMargin;

    @media (min-width: 500px) and (max-width: 830px) {
        margin-left: $iconMargin;
        margin-right: 0;
    }
}
