@import 'variables';

$formMargin: 15px;
$iconMargin: 10px;

.contact {
    margin: auto;
    overflow: auto;

    form {
        width: 70%;
        float: left;
        overflow: auto;

        * {
            width: 100%;
            background-color: $contactBackgroundLight;
            color: inherit;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: $formMargin;
            border-style: none;
            font: 1em 'Open Sans';
        }

        input[type="submit"] {
            width: auto;
            float: right;
            text-transform: uppercase;
            background-color: $brandColor;
            padding: 15px 30px;
            font: 500 1em 'Ubuntu';

            color: #ffffff;
        }

    }
}

.contactInfo {
    width: 30%;
    float: left;
    font-size: 0.8em;
    padding-left: $formMargin;
    box-sizing: border-box;

    p {
        margin-bottom: 3 * $formMargin;
    }

    address {
        font-style: normal;
        font-weight: 600;

        div {
            margin-bottom: 3px;
        }

        img {
            position: relative;
            top: 1px;
        }
    }
}

#location {
    margin: 0 (3px + $iconMargin) 0 3px;
}

#phone {
    margin: 0 (1px + $iconMargin) 0 1px;
}

#mail {
    margin: 0 ($iconMargin) 0 0;
}
