$menuBackground: #323232;
$brandColor: #2eb398;
$brightBrandColor: #d7fcf5;
$darkBrandColor: #20816d;
$brandBorderColor: #219d84;
$borderColor: #e4e9eb;
$contactBackground: #323232;
$contactBackgroundLight: #454545;
$contactColor: #e0e0e0;
$contactBorderColor: #2b2b2b;

$sectionPadding: 40px;
